# **환경 셋팅**

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np
pd.options.display.float_format = '{:.0f}'.format

path = '/content/drive/Shareddrives/데캡디/DataSet/SDB2/'

# **Data_Preprocessing_priv**

In [3]:
df_x_priv = pd.read_csv('/content/drive/Shareddrives/데캡디/Result/Raw_data/x_person.csv')
df_y_priv = pd.read_csv('/content/drive/Shareddrives/데캡디/Result/Raw_data/y_final_priv.csv')

raw_x_y_priv = pd.merge(df_x_priv, df_y_priv, how='left', left_on='JOIN_SN', right_on='JOIN_SN')
raw_x_y_priv.fillna(0,inplace=True)
raw_x_y_priv = raw_x_y_priv.drop_duplicates()

raw_x_y_priv

,JOIN_SN,AGE,GENDER,DLQ_RGST_AMT_mean,DLQ_RGST_AMT_min,DLQ_RGST_AMT_max,DLQ_RGST_DT_count,DLQ_CD_1_101,DLQ_CD_1_201,DLQ_CD_1_202,...,CD_OPN_CD_1_81,CD_OPN_CD_1_83,CD_OPN_CD_2_1,CD_OPN_CD_2_2,CD_USG_LMT,CD_CA_LMT,CD_USG_AMT,CD_CA_AMT,GRNT_AMT,is_applied
0,787068,38,2,0,0,0,0,0,0,0,...,6,0,5,1,23967,5896,33040,0,0,1
1,1630591,12,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,746631,37,1,0,0,0,0,0,0,0,...,2,0,2,0,18750,4400,21280,0,0,0
3,936890,12,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1850766,63,1,0,0,0,0,0,0,0,...,3,0,3,0,30000,4378,96010,0,2130000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48687,158999,58,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48688,1731608,46,2,0,0,0,0,0,0,0,...,3,0,3,0,13640,4540,70780,0,0,1
48689,656440,49,1,0,0,0,0,0,0,0,...,4,0,4,0,30000,15769,16360,1100,0,1
48690,285890,60,2,0,0,0,0,0,0,0,...,4,0,4,0,12667,4000,25370,0,0,0
48691,945641,28,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
raw_x_y_priv.to_csv('/content/drive/Shareddrives/데캡디/Result/Recommendation_data/raw_x_y_priv.csv',  index=False)

In [5]:
df_priv = raw_x_y_priv.copy()
df_priv

,JOIN_SN,AGE,GENDER,DLQ_RGST_AMT_mean,DLQ_RGST_AMT_min,DLQ_RGST_AMT_max,DLQ_RGST_DT_count,DLQ_CD_1_101,DLQ_CD_1_201,DLQ_CD_1_202,...,CD_OPN_CD_1_81,CD_OPN_CD_1_83,CD_OPN_CD_2_1,CD_OPN_CD_2_2,CD_USG_LMT,CD_CA_LMT,CD_USG_AMT,CD_CA_AMT,GRNT_AMT,is_applied
0,787068,38,2,0,0,0,0,0,0,0,...,6,0,5,1,23967,5896,33040,0,0,1
1,1630591,12,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,746631,37,1,0,0,0,0,0,0,0,...,2,0,2,0,18750,4400,21280,0,0,0
3,936890,12,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1850766,63,1,0,0,0,0,0,0,0,...,3,0,3,0,30000,4378,96010,0,2130000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48687,158999,58,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48688,1731608,46,2,0,0,0,0,0,0,0,...,3,0,3,0,13640,4540,70780,0,0,1
48689,656440,49,1,0,0,0,0,0,0,0,...,4,0,4,0,30000,15769,16360,1100,0,1
48690,285890,60,2,0,0,0,0,0,0,0,...,4,0,4,0,12667,4000,25370,0,0,0
48691,945641,28,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [6]:
df_priv = df_priv[['JOIN_SN', 'CD_USG_AMT', 'CD_CA_AMT', 'AGE', 'CD_OPN_CD_2_1', 'GENDER',
       'CD_CA_LMT', 'DLQ_CD_1_101', 'CD_USG_LMT', 'DLQ_RGST_AMT_max',
       'CD_OPN_CD_1_83', 'SCTR_CD_12', 'DLQ_CD_1_103', 'DLQ_CD_1_115',
       'CD_OPN_CD_2_2', 'DLQ_RGST_AMT_min', 'PUB_DLQ_RGST_AMT_min',
       'PUB_DLQ_CD_1_1301', 'PUB_DLQ_CD_1_1101', 'GRNT_AMT', 'DLQ_CD_1_104',
       'PUB_DLQ_RGST_DT_count', 'PUB_DLQ_CD_1_801', 'DLQ_CD_1_202',
       'DLQ_CD_2_0', 'SCTR_CD_17', 'SCTR_CD_21', 'DLQ_CD_1_105',
       'PUB_DLQ_CD_1_604', 'is_applied']]

In [7]:
df_priv['is_applied'].value_counts()

0    31746
1    16539
Name: is_applied, dtype: int64

In [8]:
# 차주 번호 + 유의미한 x features + 대출유무
df_priv

,JOIN_SN,CD_USG_AMT,CD_CA_AMT,AGE,CD_OPN_CD_2_1,GENDER,CD_CA_LMT,DLQ_CD_1_101,CD_USG_LMT,DLQ_RGST_AMT_max,...,DLQ_CD_1_104,PUB_DLQ_RGST_DT_count,PUB_DLQ_CD_1_801,DLQ_CD_1_202,DLQ_CD_2_0,SCTR_CD_17,SCTR_CD_21,DLQ_CD_1_105,PUB_DLQ_CD_1_604,is_applied
0,787068,33040,0,38,5,2,5896,0,23967,0,...,0,0,0,0,0,0,0,0,0,1
1,1630591,0,0,12,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,746631,21280,0,37,2,1,4400,0,18750,0,...,0,0,0,0,0,0,0,0,0,0
3,936890,0,0,12,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1850766,96010,0,63,3,1,4378,0,30000,0,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48687,158999,0,0,58,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
48688,1731608,70780,0,46,3,2,4540,0,13640,0,...,0,0,0,0,0,0,0,0,0,1
48689,656440,16360,1100,49,4,1,15769,0,30000,0,...,0,0,0,0,0,0,0,0,0,1
48690,285890,25370,0,60,4,2,4000,0,12667,0,...,0,0,0,0,0,0,0,0,0,0
48691,945641,0,0,28,0,2,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

# **개인대출정보(금융업권)**

In [9]:
# 데이터 불러오기
df_P_LN = pd.read_csv(path + 'SDB2_P_LN.csv')
df_P_LN = df_P_LN.copy()

df_P_LN

,YM,JOIN_SN,JOIN_SN_TYP,SCTR_CD,COM_SN,IS_ME,LN_CD_1,LN_CD_2,LN_CD_3,LN_DT,LN_AMT,RATE_YN,RPY_CD,EXP_DT,RATE,RPY_AMT
0,201901,310017,1,12,982882,0,31,150,0,201604,720,0,0,0,0,1
1,201912,1368715,1,5,7942190,0,41,0,0,201908,210,1,1,0,18800,210
2,201807,555263,1,1,127848,0,31,100,0,201802,12000,1,4,202802,6300,1900
3,201903,416298,1,12,1761358,0,31,100,0,200003,100,0,0,0,0,1
4,201902,1360594,1,3,4507556,0,31,270,0,201901,76000,1,8,202110,5900,4500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
753567,201812,842132,1,12,3330871,0,31,150,0,201112,2100,0,0,0,0,1
753568,201903,1254275,1,1,447025,0,31,100,100,201901,2300,1,4,202201,8100,390
753569,201901,1657463,1,12,756466,0,31,150,0,201901,1200,0,0,0,0,1
753570,201809,817969,1,5,8902067,0,37,0,0,201709,700,1,5,201810,15900,700
753571,202002,1391512,1,12,8311143,0,31,220,900,202001,53000,1,9,202911,2100,6500

In [10]:
df_P_LN = df_P_LN[['JOIN_SN', 'LN_CD_1', 'LN_CD_2', 'LN_CD_3', 'LN_DT', 'LN_AMT', 'RATE']]
df_P_LN = df_P_LN.drop_duplicates()

df_P_LN

        JOIN_SN  LN_CD_1  LN_CD_2  LN_CD_3   LN_DT  LN_AMT   RATE
0        310017       31      150        0  201604     720      0
1       1368715       41        0        0  201908     210  18800
2        555263       31      100        0  201802   12000   6300
3        416298       31      100        0  200003     100      0
4       1360594       31      270        0  201901   76000   5900
...         ...      ...      ...      ...     ...     ...    ...
753544   936137       31      290        0  201709     730   2500
753551   513148       31      500        0  201703    9300   3600
753565  1744636       41        0        0  201807     400  20200
753568  1254275       31      100      100  201901    2300   8100
753570   817969       37        0        0  201709     700  15900

[282893 rows x 7 columns]

In [11]:
df_P_LN['JOIN_SN'].nunique()

16405

In [12]:
# 결론 데이터
df_P_LN

        JOIN_SN  LN_CD_1  LN_CD_2  LN_CD_3   LN_DT  LN_AMT   RATE
0        310017       31      150        0  201604     720      0
1       1368715       41        0        0  201908     210  18800
2        555263       31      100        0  201802   12000   6300
3        416298       31      100        0  200003     100      0
4       1360594       31      270        0  201901   76000   5900
...         ...      ...      ...      ...     ...     ...    ...
753544   936137       31      290        0  201709     730   2500
753551   513148       31      500        0  201703    9300   3600
753565  1744636       41        0        0  201807     400  20200
753568  1254275       31      100      100  201901    2300   8100
753570   817969       37        0        0  201709     700  15900

[282893 rows x 7 columns]

# **개인대출정보(대부업권)**

In [13]:
# 데이터 불러오기
df_P_LN_SP = pd.read_csv(path + 'SDB2_P_LN_SP.csv')
df_P_LN_SP = df_P_LN_SP.copy()

df_P_LN_SP

,YM,JOIN_SN,JOIN_SN_TYP,SCTR_CD,COM_SN,IS_ME,LN_CD_1,LN_CD_2,LN_CD_3,LN_DT,LN_AMT,RATE_YN,RPY_CD,EXP_DT,RATE,RPY_AMT
0,201908,1637656,1,24,8563294,0,31,100,0,201712,9300,0,0,0,0,0
1,201809,295724,1,24,2639171,0,31,100,0,201011,20000,0,0,0,0,0
2,201808,1241988,1,24,6721084,0,31,100,0,201601,3500,0,0,0,0,0
3,201908,1068724,1,24,9134680,0,31,100,0,201506,2400,1,1,202006,30000,0
4,201905,1489879,1,24,399420,0,31,100,0,201709,4500,1,1,202209,24000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14051,201908,1108393,1,24,3316648,0,31,100,0,201903,3700,1,4,202309,24000,0
14052,202003,1028582,1,24,9547439,0,31,100,0,201506,2700,1,1,202006,25000,0
14053,201811,1355277,1,24,3207317,0,31,100,0,201511,110,0,0,0,0,0
14054,202005,1679575,1,24,9978377,0,31,100,0,201703,2700,1,1,202203,28000,0
14055,202003,191908,1,24,1592827,0,31,100,0,201905,1100,1,4,202005,24000,0

In [14]:
df_P_LN_SP = df_P_LN_SP[['JOIN_SN', 'LN_CD_1', 'LN_CD_2', 'LN_CD_3', 'LN_DT', 'LN_AMT', 'RATE']]
df_P_LN_SP = df_P_LN_SP.drop_duplicates()

df_P_LN_SP

       JOIN_SN  LN_CD_1  LN_CD_2  LN_CD_3   LN_DT  LN_AMT   RATE
0      1637656       31      100        0  201712    9300      0
1       295724       31      100        0  201011   20000      0
2      1241988       31      100        0  201601    3500      0
3      1068724       31      100        0  201506    2400  30000
4      1489879       31      100        0  201709    4500  24000
...        ...      ...      ...      ...     ...     ...    ...
14035  1886783       31      100        0  201508     100  24000
14038  1256944       31      100        0  201001    2600      0
14039   628107       31      100        0  201712    1300      0
14048    16822       31      100        0  201805    4600  24000
14053  1355277       31      100        0  201511     110      0

[3122 rows x 7 columns]

In [15]:
df_P_LN_SP['JOIN_SN'].nunique()

541

In [16]:
# 결론 데이터
df_P_LN_SP

       JOIN_SN  LN_CD_1  LN_CD_2  LN_CD_3   LN_DT  LN_AMT   RATE
0      1637656       31      100        0  201712    9300      0
1       295724       31      100        0  201011   20000      0
2      1241988       31      100        0  201601    3500      0
3      1068724       31      100        0  201506    2400  30000
4      1489879       31      100        0  201709    4500  24000
...        ...      ...      ...      ...     ...     ...    ...
14035  1886783       31      100        0  201508     100  24000
14038  1256944       31      100        0  201001    2600      0
14039   628107       31      100        0  201712    1300      0
14048    16822       31      100        0  201805    4600  24000
14053  1355277       31      100        0  201511     110      0

[3122 rows x 7 columns]

# **데이터 셋 완성**

In [17]:
concat_df = pd.concat([df_P_LN, df_P_LN_SP], ignore_index = True)
concat_df = concat_df.groupby(['JOIN_SN',	'LN_CD_1', 'LN_CD_2', 'LN_CD_3',	'LN_DT']).mean().reset_index()
concat_df

# test
# concat_df[concat_df['JOIN_SN'] == 133]

       JOIN_SN  LN_CD_1  LN_CD_2  LN_CD_3   LN_DT  LN_AMT  RATE
0            8       31      510        0  201805   11747  7900
1           18       31      100        0  201804    1633 15000
2           98       41        0        0  201808     400 15400
3          133       31      100        0  201603     790 17000
4          133       31      150        0  201604    1035     0
...        ...      ...      ...      ...     ...     ...   ...
56641  1959548       31      150        0  201902    1498     0
56642  1959919       31      100        0  201609    6150  5675
56643  1959919       31      270        0  201609   13480  2840
56644  1959919       31      500        0  201607    5500  1000
56645  1959919       37        0        0  201802     270 23900

[56646 rows x 7 columns]

In [18]:
df_final_priv = pd.merge(df_priv, concat_df, how='left', left_on='JOIN_SN', right_on='JOIN_SN')

df_final_priv = df_final_priv.drop_duplicates()
df_final_priv

,JOIN_SN,CD_USG_AMT,CD_CA_AMT,AGE,CD_OPN_CD_2_1,GENDER,CD_CA_LMT,DLQ_CD_1_101,CD_USG_LMT,DLQ_RGST_AMT_max,...,SCTR_CD_21,DLQ_CD_1_105,PUB_DLQ_CD_1_604,is_applied,LN_CD_1,LN_CD_2,LN_CD_3,LN_DT,LN_AMT,RATE
0,787068,33040,0,38,5,2,5896,0,23967,0,...,0,0,0,1,31,100,0,201801,14000,4700
1,1630591,0,0,12,0,2,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
2,746631,21280,0,37,2,1,4400,0,18750,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
3,936890,0,0,12,0,1,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
4,1850766,96010,0,63,3,1,4378,0,30000,0,...,0,0,0,1,31,100,0,201405,26000,4800
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88387,1731608,70780,0,46,3,2,4540,0,13640,0,...,0,0,0,1,31,270,0,201807,35000,1300
88388,656440,16360,1100,49,4,1,15769,0,30000,0,...,0,0,0,1,31,220,0,201910,110000,2500
88389,656440,16360,1100,49,4,1,15769,0,30000,0,...,0,0,0,1,41,0,0,201807,1100,0
88390,285890,25370,0,60,4,2,4000,0,12667,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN
88391,945641,0,0,28,0,2,0,0,0,0,...,0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
# # merge_df['JOIN_SN'].nunique()
# # merge_df['C_LN_ACCT_CD'].nunique()
# # merge_df['LN_CD_3'].nunique()
# # merge_df[merge_df['is_applied'] == 0].nunique()
# # merge_df.nunique()
# merge_df[merge_df['is_applied']==1].isnull().sum()

In [20]:
df_final_priv.to_csv('/content/drive/Shareddrives/데캡디/Result/Recommendation_data/final_x_y_priv.csv',  index=False)